{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "safari >= 10"
          ]
        },
        "debug": true,
        "useBuiltIns": true
      }
    ]
  ]
}
